In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import csv
import sqlite3

In [3]:
data = pd.read_csv(r"C:\Users\muiga\craigslist_vehicles.csv")
print(data.head())

   Unnamed: 0          id                                                url  \
0      362773  7307679724  https://abilene.craigslist.org/ctd/d/abilene-2...
1      362712  7311833696  https://abilene.craigslist.org/ctd/d/abilene-2...
2      362722  7311441996  https://abilene.craigslist.org/ctd/d/abilene-2...
3      362771  7307680715  https://abilene.craigslist.org/ctd/d/abilene-2...
4      362710  7311834578  https://abilene.craigslist.org/ctd/d/abilene-2...

    region                      region_url  price    year manufacturer  \
0  abilene  https://abilene.craigslist.org   4500  2002.0          bmw
1  abilene  https://abilene.craigslist.org   4500  2002.0          bmw
2  abilene  https://abilene.craigslist.org   4900  2006.0       toyota
3  abilene  https://abilene.craigslist.org   6500  2008.0         ford
4  abilene  https://abilene.craigslist.org   6500  2008.0         ford

        model  condition  ...   type paint_color  \
0          x5        NaN  ...    NaN         NaN
1          x5        NaN  ...    NaN         NaN
2       camry  excellent  ...  sedan      silver
3  expedition        NaN  ...    NaN         NaN
4  expedition        NaN  ...    NaN         NaN

                                           image_url  \
0  https://images.craigslist.org/00m0m_iba78h8ty9...
1  https://images.craigslist.org/00m0m_iba78h8ty9...
2  https://images.craigslist.org/00808_5FkOw2aGjA...
3  https://images.craigslist.org/00M0M_i9CoFvVq8o...
4  https://images.craigslist.org/00M0M_i9CoFvVq8o...

                                         description county state        lat  \
0  $4,500 Cash  2002 BMW X5  8 cylinder 4.4L moto...    NaN    tx  32.401556
1  $4,500 Cash  2002 BMW X5  8 cylinder 4.4L moto...    NaN    tx  32.401556
2  2006 TOYOTA CAMRY LE Sedan   Ready To Upgrade ...    NaN    tx  32.453848
3  $6500.00 2008 Ford Expedition  8 cylinder 5.4L...    NaN    tx  32.401556
4  $6500.00 2008 Ford Expedition  8 cylinder 5.4L...    NaN    tx  32.401556

        long               posting_date               removal_date
0 -99.884713  2021-04-16 00:00:00+00:00  2021-05-02 00:00:00+00:00
1 -99.884713  2021-04-24 00:00:00+00:00  2021-04-28 00:00:00+00:00
2 -99.787900  2021-04-23 00:00:00+00:00  2021-05-25 00:00:00+00:00
3 -99.884713  2021-04-16 00:00:00+00:00  2021-04-26 00:00:00+00:00
4 -99.884713  2021-04-24 00:00:00+00:00  2021-05-12 00:00:00+00:00

[5 rows x 28 columns]

In [8]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///capstone.db')

In [9]:
table_name = 'craiglist'

In [14]:
data.to_sql(table_name, engine, index=False, if_exists='replace')

426880